@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Merriweather:ital,wght@0,300;0,700;1,400&display=swap");

body {
  background-color: seashell;
}
.main-head {
  display: flex;
  text-align: center;
  align-items: last baseline;
  justify-content: center;
  width: 100%;
  height: 65px;
  margin: auto;
  font-family: "Merriweather", serif;
  font-size: 40px;
  font-weight: lighter;
  color: #003d42;
}

.links {
  height: 55px;
  width: 100%;
  background-color: #388087;
  list-style: none;
  display: flex;
  padding: 5px;
  justify-content: space-evenly;
  align-items: center;
}

.home-links {
  width: 5rem;
  height: 5rem;
  margin: 5rem;
  text-decoration: none;
  font-family: "Merriweather", serif;
  font-weight: 500;
  color: white;
  text-transform: capitalize;
}

.active {
  border: 2px solid white;
  border-radius: 20px;
  padding: 12px;
}
